<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to our Bar Beer Drinker!</h1>
    <p class="lead">Spying on all bars, beers and drinkers across the planet.</p>
  </div>
</div>



<div class="container">
   <p-table [value]="bars">
    <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Open time</th>
          <th>Close time</th>
          
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bar>
        <tr>
          <td>
            <a routerLink = "/bars/{{ bar.Name }}">
              {{ bar.Name }}
            </a>
          </td>
          <td>{{ bar.Open_Time }}</td>
          <td>{{ bar.Close_Time }}</td>
          
        </tr>
    </ng-template>
  </p-table>
  
</div>


<br><br>