<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Find bars which {{ drinkerName }} visited!</h1>
      <p class="lead"><a routerLink="/drinkers/{{ drinkerName }}/time">Click here if you want to see {{ drinkerName }}'s spending activity on different dates</a></p>
      <p class="lead"><a routerLink="/drinkers/{{ drinkerName }}/month">Click here if you want to see {{ drinkerName }}'s spending activity on different months</a></p>
      
    </div>
  </div>
  <br>

  <div class="container">
      <br>
      <div id="bargraph"></div>
    </div>