<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Bars where {{ beerName }} sells the most!</h1>
      <p class="lead">This page shows bars that sell {{ beerName }} the most</p>
      <p-dropdown *ngIf="manufacturerOptions" [ngClass]="{ 'no-option-selected': selectedManufacturer === undefined || selectedManufacturer === null }"
        placeholder="Filter by manufacturer" [options]="manufacturerOptions" [(ngModel)]="selectedManufacturer" showClear="true"
        (onChange)="filterBeers($event.value)"></p-dropdown>
    </div>
  </div>
  <br>

  <div class="container">
      <h2 class="text-center font-weight-light">Bars</h2>
      <p-table [value]="topbars" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th>BarName</th>
            <th>Amount Sold</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bar>
          <tr>
            <td>{{ bar.BarName}}</td>
            <td>{{ bar.Times }}</td>
            
          </tr>
        </ng-template>
      </p-table>
      <br><br>
    </div>