<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Find bars which {{ drinkerName }} visited!</h1>
      <p class="lead">{{ drinkerName }}'s spending in different bars</p>
      
    </div>
  </div>
  <br>

  <!--
  <div class="container">
      <br>
      <a routerLink="/drinkers/{{ drinkerName }}/topbeers">
      <button type="submit" class="btn-primary">Top Beers</button>
    </a>
    
    </div>

    -->
    
  <!--
    <div class="container">
        <br>
    
        <div id="bargraph"></div>
      </div>
      -->
  <div class="container">
    <h2 class="text-center font-weight-light">Bars</h2>
    <p-table [value]="bars" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>Bar </th>
          <th>Spent</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bar>
        <tr>
          <td><a routerLink="/drinkers/{{ drinkerName }}/barlist/{{ bar.BarName }}">{{ bar.BarName }}</a></td>
          <td>{{ bar.Spent }}</td>
         
        </tr>
      </ng-template>
    </p-table>
    <br><br>
  </div>