<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Find {{drinkerName}}'s record of buying beers!</h1>
      <p class="lead">A bar graph of {{drinkerName}}'s beers orders the most.</p>
      <p-dropdown *ngIf="manufacturerOptions" [ngClass]="{ 'no-option-selected': selectedManufacturer === undefined || selectedManufacturer === null }"
        placeholder="Filter by manufacturer" [options]="manufacturerOptions" [(ngModel)]="selectedManufacturer" showClear="true"
        (onChange)="filterBeers($event.value)"></p-dropdown>
    </div>
  </div>
  <br>
  <div></div>
  <br>
  

  <div class="container">
      <br>
      <div id="bargraph"></div>
    </div>